src/netgauge-2.4.6/*.o
src/netgauge-2.4.6/netgauge
src/netgauge-2.4.6/wnlib/.libs/
src/netgauge-2.4.6/wnlib/libwn.la
src/netgauge-2.4.6/.deps/
src/netgauge-2.4.6/Makefile
src/netgauge-2.4.6/autom4te.cache/output.1
src/netgauge-2.4.6/autom4te.cache/traces.1
src/netgauge-2.4.6/config.h
src/netgauge-2.4.6/config.log
src/netgauge-2.4.6/config.status
src/netgauge-2.4.6/libtool
src/netgauge-2.4.6/wnlib/.deps/
src/netgauge-2.4.6/wnlib/Makefile
src/netgauge-2.4.6/wnlib/*.lo
src/netgauge-2.4.6/wnlib/*.o
node_files/auto_node_file.txt
__pycache__/
generated_script.sh
.vscode/
src/ember/mpi/halo3d/halo3d
src/ember/mpi/halo3d-26/halo3d-26
src/ember/mpi/incast/incast
src/ember/mpi/pingpong/pingpong
src/ember/mpi/sweep3d/sweep3d
src/microbench-gpu
src/nccl-tests
src/dnn-proxies
src/microbench/bin/*

# apps_mix/gpubench/gen_other_exps.sh
# apps_mix/gpubench/gen_other_sizes.sh
# apps_mix/gpubench/gen_other_strategies.sh
#
# wrappers/gen_other_exps.sh
# test_suites/gen4gpubench.sh

*.kdev4
kdev4/*
*.png
plots/*/*/*.csv
